In [3]:
import pandas as pd
import json
import urllib.request as url

In [26]:
http = url.urlopen("https://cricapi.com/api/matchCalendar?apikey=b7CYzlyYOrUCIIdbSlU753oGKN12")

In [27]:
data = json.load(http)

In [29]:
matches = data['data']

In [30]:
df = pd.DataFrame(matches)

In [31]:
df.head()

,date,name,unique_id
0,18 August 2019,"Sri Lanka v New Zealand at Galle, 1st Test - d...",1192873
1,18 August 2019,"England v Australia at Lord's, 2nd Test - day 5",1152847
2,18 August 2019,"Finland v Spain at Kerava, 3rd T20I",will generate 1-2 days before match
3,18 August 2019,"Scotland v Oman at Aberdeen, 4th Match",will generate 1-2 days before match
4,18 August 2019,Bermuda v United States of America at Sandys ...,will generate 1-2 days before match

In [35]:
pd.read_json('data.json')

,p_brand,p_category,p_id,p_image,p_name,p_price
0,Apple,mobile,101,https://www.91-img.com/pictures/121008-v1-appl...,Apple Iphone X,68000
1,Samsung,mobile,102,https://www.boostmobile.com/content/dam/boostm...,Samsung Galaxy S10,72000
2,Xiaomi,mobile,103,https://www.91-img.com/pictures/125125-v3-xiao...,Redmi Note 5,15000
3,Apple,laptop,104,https://cdn.shopify.com/s/files/1/0121/0014/11...,Macbook Pro,125000
4,Asus,laptop,105,https://img-us1.asus.com/A/show/AW000706/2018/...,Asus Zenbook 2,78000
5,Titan,watch,106,http://assets.myntassets.com/assets/images/145...,Titan Plus,8000
6,Adidas,shoes,107,https://img.tatacliq.com/images/437Wx649H/MP00...,Adidas Sports Shoes,4500
7,Puma,shoes,108,http://assets.myntassets.com/assets/images/725...,Puma Shoes,3300
8,XYZ,book,109,https://images-na.ssl-images-amazon.com/images...,SSC Prep,680
9,Lenovo,laptop,110,https://www.lenovo.com/medias/lenovo-yoga-book...,Lenovo Yoga,56000
10,JBL,headphone,111,https://rukminim1.flixcart.com/image/704/704/j...,JBL In Ear Headphone,1000
11,Bose,headphone,112,https://images-na.ssl-images-amazon.com/images...,Bose Overear headphone,3555